

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* === Variables === */

:root{
    --orange-color: #f48434;
    --orange-dark-color: #bb6325;
    --grey-color: #c0c0c0;
    --background-color: rgb(255, 255, 255);
    --black-color: rgb(17, 18, 24);
}

/* === General Styles === */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

@media screen and (max-width: 1600px){
    html {
        font-size: 70%;
    }
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: var(--background-color);
}

/* === Scrollbar Styles === */

.content {
    max-width: 170rem;
    display: flex;
    margin: 0 auto;
}

@media screen and (max-width: 1600px){
    .content{
        max-width: 140rem;
    }
}

@media screen and (max-width: 600px){
    .content{
        max-width: 500px;
    }
}

section {
    width: 100vw;
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}

/* === Header Styles === */

header{
    position: fixed;
    width: 100vw;
    height: 9rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

header .content ul{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

header .content ul li a{
    position: relative;
    color: white;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    align-items: center;
    transition: all linear 0.2s;
}

header .content ul li a:hover{
    color: #c0c0c0;
}

header .content ul li #contactBtn{
    background-color: var(--orange-color);
    color: var(--black-color);
    font-weight: bold;
    font-family: raleway;
    padding: 1rem;
    border-radius: 1rem;
    transition: all linear 0.2s;
}

header .content ul li #contactBtn:hover{
    background: var(--orange-dark-color);
}

header .content ul li svg{
    width: 2rem;
}

header .content button{
    position: absolute;
    background: white;
    left: 3rem;
    top: 0rem;
    width: 25rem;
    border: none;
    outline: none;
    cursor: pointer;
}

header .content button img{
    position: absolute;
    left: 3rem;
    top: -0rem;
    width: 25rem;
    margin-top: 0.5rem;
}

@media screen and (max-width: 1600px){

    header{
        display: flex;
        justify-content: center;
        height: 5rem;
    }

    header .content{
        display: flex;
        justify-content: center;
    }

    header .content ul{
        display: flex;
        justify-content: center;
    }

    header .content ul li{
        display: flex;
        justify-content: center;
    }

    header .content button{
        width: 11rem;
        left: -2rem;
    }

    header .content button img{
        width: 11rem;
    }

    header .content ul li a{
        font-size: 1rem;
    }

    header .content ul li #contactBtn{
        padding: 0.4rem;
        padding-inline: 1rem;
    }
}

/* === Banner Styles === */

.banner{
    position: relative;
    top: 0rem;
    height: 55vh;
    background-color: rgb(0, 0, 0);
    background-image: url("images/banner\ image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.795);
}

.banner .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12rem;
}

.banner .content .text{
    z-index: 1000;
}

.banner .content button{
    width: 100%;
    height: 10rem;
    border: none;
    outline: none;
    background-color: var(--orange-color);
    font-size: 3rem;
    font-weight: bold;
    font-family: Raleway;
    color: white;
    text-shadow: 0em 0em 0.em white;
    border-radius: 2rem;
    transition: all ease-in-out 0.5s;
    z-index: 1000;
}

.banner .content button:hover{
    cursor: pointer;
    transform: translateY(-1rem);
    background-color: #ff832a;
    box-shadow: 0em 0em 1em black;
}

.banner .content .text h1{
    font-size: 5rem;
    color: var(--orange-color);
    z-index: 1000;
}

.banner .content .text h1 a{
    position: relative;
    color: white;
}

.banner .content .text h1 a::before{
    position: absolute;
    content: "";
    width: 0%;
    height: 0.5rem;
    bottom: -1.5rem;
    background: white;
    z-index: 1000;
    transition: all ease-in-out 0.5s;
}

.banner .content .text h1 a:hover::before{
    width: 100%;
}

@media screen and (max-width: 1600px){
    .banner{
        height: 85vh;
    }

    .banner .content{
        gap: 5rem;
    }

    .banner .content button{
        height: 6rem;
        font-size: 2rem;
    }

    .banner .content .text h1{
        font-size: 3rem;
    }
}

@media screen and (max-width: 600px){

    .banner .content{
        gap: 9rem;
    }

    .banner .content .text{
        text-align: center;
    }

    .banner .content .text h1{
        font-size: 3rem;
    }

    .banner .content .text h1 a{
        font-size: 3rem;
    }

    .banner .content button{
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 400px){

    .banner{
        height: 70rem;
    }

    .banner .content{
        gap: 5rem;
    }
    
    .banner .content .text h1{
        font-size: 3rem;
    }

    .banner .content .text h1 a{
        font-size: 3rem;
    }

    .banner .content button{
        height: 6rem;
        font-size: 2rem;
    }
}

/* === Modalities === */

.modalities{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    flex-direction: column;
}

.modalities .content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 160rem;
}

.modalities h1{
    color: var(--black-color);
    font-size: 7rem;
    font-family: kanit;
    font-style: italic;
}

.modalities h2{
    color: var(--orange-color);
    font-size: 7rem;
    font-family: kanit;
    font-style: italic;
    margin-bottom: 10rem;
}

.modalities .cards{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10rem;
    margin-bottom: 30rem;
}

.modalities .cards .card:hover{
    transform: translateY(-1rem);
    cursor: pointer;
}

.modalities .cards .card:hover p{
    opacity: 1;
}

.modalities .cards .card:hover img{
    box-shadow: 0em 1em 2em rgba(0, 0, 0, 0.356);
}

.modalities .cards .card:hover .black_filter{
    background: rgba(0, 0, 0, 0.719);
}

.modalities .cards .card{
    position: relative;
    width: 32rem;
    height: 43,7rem;
    text-align: center;
    transition: all linear 0.2s;
}

.modalities .cards .card img{
    width: 100%;
    filter: grayscale(1);
    border-radius: 1rem;
    transition: all linear 0.2s ;
}

.modalities .cards .card .black_filter{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.616);
    border-radius: 1rem;
    transition: all ease-in-out 0.5s;
}

.modalities .cards .card h1{
    position: absolute;
    color: var(--orange-color);
    left: 50%;
    top: 50%;
    font-size: 5rem;
    transform: translate(-50%, -50%);
}

.modalities .cards .card p{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-family: kanit;
    bottom: 2rem;
    color: white;
    opacity: 0;
    transition: all linear 0.1s;
}

.unclickabe {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: 100000;
}

.desc_box{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 5rem;
    background-color: var(--black-color);
    padding: 5rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    z-index: 1000000;
    transition: all ease-in-out 0.2s;
    opacity: 0;
}

.desc_box h1{
    color: white;
    max-width: 40rem;
    transition: opacity 0.3s;
    opacity: 0;
}

.desc_box p{
    color: white;
    font-size: 3rem;
    font-family: raleway;
    transition: all linear 0.3s;
    opacity: 0;
}

.desc_box button{
    position: absolute;
    display: flex;
    top: 7.5rem;
    right: 5rem;
    font-size: 2.5rem;
    padding: 2rem;
    background: var(--orange-color);
    font-family: kanit;
    font-weight: bold;
    color: white;
    outline: none;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all linear 0.1s;
    opacity: 0;
}

.desc_box button svg{
    width: 2rem;
    height: 2rem;
}

.desc_box button:hover{
    background-color: var(--orange-dark-color);
}

@media screen and (max-width: 1600px){

    .modalities{
        margin-top: 9rem;
    }

    .modalities h1{
        font-size: 5rem;
    }

    .modalities h2{
        font-size: 5rem;
        margin-bottom: 9rem;
    }

    .modalities .cards{
        gap: 5rem;
        margin-bottom: 17rem;
    }

    .modalities .cards .card{
        width: 23rem;
    }

    .modalities .cards .card p{
        font-size: 1.5rem;
    }

    .modalities .cards .card h1{
        font-size: 3rem;
    }

    /* === DescBox === */

    .desc_box{
        max-height: 40rem;
        max-width: 57rem;
        gap: 2rem;
    }

    .desc_box h1{
        font-size: 4rem;
        max-width: 30rem;
    }

    .desc_box p{
        font-size: 2rem;
    }

    .desc_box button{
        top: 6rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 600px) {

    .modalities{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modalities h1{
        font-size: 5rem;
    }

    .modalities h2{
        font-size: 5rem;
    }

    .modalities .cards{
        gap: 2rem;
        margin-bottom: 10rem;
    }

    .modalities .cards .card{
        width: 20rem;
    }

    .modalities .cards .card h1{
        font-size: 2.5rem;
    }

    /* DescBox */

    .desc_box{
        max-width: 40rem;
        max-height: 70rem;
    }

    .desc_box h1{
        font-size: 3rem;
        max-width: 25rem;
    }

    .desc_box p{
        font-size: 2.5rem;
    }

    .desc_box button{
        padding: 1rem;
        font-size: 2rem;
        width: 4rem;
        height: 4rem;
        top: 5.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .desc_box button span{
        position: relative;
        top: -0.2rem;
    }
}

@media screen and (max-width: 400px) {

    .modalities{
        margin-top: 5rem;
    }

    .modalities h1{
        font-size: 4rem;
    }

    .modalities h2{
        font-size: 4rem;
    }

    .modalities .cards{
        margin-top: -4rem;
        gap: 5rem;
    }

    .modalities .cards .card{
        width: 25rem;
    }

    /* DescBox */

    .desc_box{
        max-width: 35rem;
        max-height: 60rem;
    }

    .desc_box h1{
        font-size: 2.5rem;
        max-width: 20rem;
    }

    .desc_box p{
        font-size: 2.2rem;
    }
}

/* === Units === */

.units{
    position: relative;
    background: var(--orange-color);
    width: 100%;
    height: 45rem;
}

.units .content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.units .content .text{
    display: flex;
}

.units .content .text h1{
    font-size: 10rem;
    font-family: kanit;
    color: white;
}

.units .content .text h1::first-letter{
    margin-left: 2rem;
}


.units .content .text h2{
    font-size: 10rem;
    font-family: kanit;
    color: var(--black-color);
}

.units .content .text h2::first-letter{
    margin-left: 2rem;
}

.units .content ion-icon{
    position: relative;
    color: white;
    font-size: 10rem;
    transition: ease-in-out 0.2s;
}

@media screen and (max-width: 1600px){
    .units{
        height: 20rem;
    }

    .units .content .text h1{
        font-size: 6rem;
    }

    .units .content .text h2{
        font-size: 6rem;    
    }

    .units .content ion-icon{
        font-size: 6rem;
    }
}

@media screen and (max-width: 600px){

    .units{
        height: 30rem;
    }

    .units .content{
        max-width: 30rem;
    }

    .units .content .text h1{
        font-size: 5rem;
    }
    .units .content .text h2{
        display: none;
    }
    .units .content .text ion-icon{
        font-size: 5rem;
    }
}

@media screen and (max-width: 400px){
    .units{
        height: 20rem;
    }
}